<!DOCTYPE html>
<html lang="en">
<head>
<link rel="canonical" href="https://am-outilscuir.com/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
<script defer src="https://cloud.umami.is/script.js" data-website-id="838f3688-f9c6-4640-b3a2-a5bb71669312"></script>
</head>
<body>
    
    <div class="menu-bg">
            
            <nav class="menu" aria-label="menu principal">
                    
                    <div class="menu-links">
                        
                        <div class="shop-name">
                            <img src="/assets/logos/Logo-50.png" height="50px" alt="am-outilscuir logo">
                            <a href="/index.html">
                                <h1>AM-Marquage <span>| Outils de Marquage et de coupe pour le cuir</span></h1>
                            </a>
                        </div>
                        <!-- Marquage -->
                        <details class="menu-item">
                            <summary>
                                <span class="category">Marquage</span>
                            </summary>
                            <ul>
                                <li><a href="/pages/marquage.html">Outils de marquage/matoirs</a></li>
                                <li><a href="/pages/alphabets.html">Jeux de chiffres et lettres à marquer</a></li>
                                <li><a href="/pages/machines/presse-marquage-cuir.html">Machine pour marquer à chaud</a></li>
                            </ul>                          
                        </details>
                        <!-- Découpe -->
                        <details class="menu-item">
                            <summary><span class="category">Découpe</span></summary>
                            <ul>
                                <li><a href="/pages/emporte-pièces.html">Emporte-pièces</a></li>
                                <!-- <li><a href="/pages/machines/presse-coupe.html">Presse manuelle</a></li> -->
                                <li><a href="/pages/machines/refendeuse-manuelle.html">Renfendeuse manuelle</a></li>
                                <li><a href="/pages/machines/abat-carreuse.html">Abat-carreuse double</a></li>
                            </ul>
                        </details>

                        <!-- Moules -->
                         <details class="menu-item">
                            <summary><span class="category">Moules / Blocs</span></summary>
                            <ul>
                                <li><a href="/pages/moules-cuir.html">Moules sur-mesure pour le cuir</a></li>
                                <li><a href="/pages/moules-cuir.html">Blocs de montage</a></li>
                            </ul>
                        </details>
                        <!-- Machine/Outils -->
                        <!-- <details class="menu-item">
                            <summary><span class="category">Machines/Outils</span></summary>
                            <ul>
                                <li><a href="/pages/machines/presse-coupe.html">Presse manuelle</a></li>
                                <li><a href="/pages/machines/presse-marquage-cuir.html">Machine pour marquer à chaud</a></li>
                                <li><a href="/pages/machines/plioirs.html">Pioirs en Corne de buffle</a></li>
                            </ul>
                        </details> -->
                        <!-- Contact -->
                        <a class="category" href="/pages/contact.html">Contact</a>
                    </div>
                </nav>
    </div>
</body>
    </html>