:root {
    --am-orange: #EE672F;
    --am-orange2: #F89C66;
    --text: #2F2F2F; 
    --bg-sections : #f5f5f5ee;
    --vert-grisé : #5c7e73;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope/Manrope-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope/Manrope-Bold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}


html {scroll-behavior: smooth;
    
}

body {    
    margin: 0.5em auto;
    /* max-width: 1080px; */
    color: var(--text);
    font-family: Manrope-Regular, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Manrope-Bold, sans-serif;
    color: var(--text);
}

.no-decoration {
    text-decoration: none;
}

.top-menu {
    font-size: 1em;
    margin-bottom: 1;
    margin-top: 1;
    font-weight: bold;
}
.top-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding:0;
}


.top-menu a {
    display: flex;
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease;
    padding: 0.5em;

}

.top-menu a:hover {
    transform: translateY(-4px);
    color: var(--vert-grisé);
}

.intro-block {
    display: block;
    text-align: justify;
    margin: auto;
    max-width: 1000px;
    padding: 1em;
}

.images-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.product-block {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-block:hover {
    transform: translateY(-4px);
    transform: scale(1.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.product-block img {
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-block p {
    font-weight: bold;
    color: var(--text);
    text-align: center;
    margin: 0.5em 0.5em;
    transition: color 0.3s ease;
}

.product-block:hover p {
    color: var(--vert-grisé);
}

.bottom-menu {
    margin : 1em;
}

.bottom-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.bottom-menu a {
    margin-right: 1em;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.bottom-menu .icon:hover {
    /* color: var(--am-orange); */
    fill: var(--vert-grisé);

}

.icon {
    height: 32px;
    fill: var(--text);
    transition: all 0.3s ease;
}

.icon:hover {
     transform: translateY(-4px);
}

.copyright {
    color: var(--text);
    text-align: center;
}

.legal {
    display: flex; 
    gap: 1em;
    justify-content: center;
    font-size: small;
    text-align: center;
}

.legal a {
    transition: 0.5s;
    color: var(--text);
    text-decoration: none;
}

.legal a:hover {
    color: var(--vert-grisé)    
}
