:root {
    --am-orange: #EE672F;
    --am-orange2: #F89C66;
    --text: #2F2F2F; 
    --bg-sections : #f5f5f5af;
    --vert-grisé : #6C9A8B;
}

html {scroll-behavior: smooth;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em auto;
    /* max-width: 1080px; */
    color: var(--text);
    font-family: manrope;
    font-weight: 500;
}

.menu-bg {
    display: block;
    width: 100%;
    background-color: var(--bg-sections);
    position: sticky;
    top: 0;
    z-index: 1000;
    /* box-shadow: 0 20px 40px rgba(0,0,0,0.1); */
    
}


.top-menu {
    font-size: 1em;
    margin-bottom: 1;
    margin-top: 1;
    font-weight: bold;
}
.top-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding:0;
}

.top-menu a {
    display: flex;
    text-decoration: none;
    color: var(--text);
    transition: all 0.2s ease;
    padding: 0.5em;

}

.top-menu a:hover {
    transform: translateY(-4px);
}

.intro-block {
    display: flex;
    text-align: justify;
    padding: 10px;
}

.images-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5em auto 5em auto;
    gap: 1em;
}

.product-block img {
    text-align: center;
    background-color: beige;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-block:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    color: var(--am-orange);

}

.no-decoration {
    text-decoration: none;
}

.product-block p {
    font-weight: bold;
}

.bottom-menu {
    margin : 1em;
}

.bottom-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.bottom-menu a {
    margin-right: 1em;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.bottom-menu .icon:hover {
    color: var(--am-orange);
}

.icon {
    height: 32px;
    fill: var(--text);
    transition: all 0.2s ease;
}

.icon:hover {
     transform: translateY(-4px);
}